<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- Import related to Flex Office Web Sever Business -->
	<import resource="classpath*:spring/applicationContext-flexoffice-business.xml" />
	
	<bean id="responseHandler" class="com.orange.flexoffice.userui.handler.JsonResponseHandler" >
	</bean>
	
		
</beans>