<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- Import related to Flex Office Web Sever Business -->
	<import resource="classpath*:spring/applicationContext-flexoffice-business-test.xml" />
	
	<bean id="userEndpoint" class="com.orange.flexoffice.adminui.ws.endPoint.entity.impl.UserEndpointImpl">
	</bean>
	
	<bean id="gatewayEndpoint" class="com.orange.flexoffice.adminui.ws.endPoint.entity.impl.GatewayEndpointImpl">
	</bean>
	
	<bean id="roomEndpoint" class="com.orange.flexoffice.adminui.ws.endPoint.entity.impl.RoomEndpointImpl">
	</bean>
	
	<bean id="sensorEndpoint" class="com.orange.flexoffice.adminui.ws.endPoint.entity.impl.SensorEndpointImpl">
	</bean>
	
	<bean id="systemEndpoint" class="com.orange.flexoffice.adminui.ws.endPoint.data.impl.SystemEndpointImpl">
	</bean>
	
	<bean id="statEndpoint" class="com.orange.flexoffice.adminui.ws.endPoint.data.impl.StatEndpointImpl">
	</bean>
	
	<bean id="errorMessageHandler" class="com.orange.flexoffice.adminui.ws.utils.ErrorMessageHandler">
	</bean>
	
	<bean id="processDailyStats" class="com.orange.flexoffice.adminui.ws.task.ProcessDailyStats"></bean>	
</beans>